body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#fafafa;
}

h1,h2,h3{
    margin:0;
}

button{
    cursor:pointer;
}

button:hover{
    background-color: darkblue;
    color: rgb(184, 1, 1);
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}

Link:hover{
  transform: scale(1.1); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.3); 
}



/* Navbar links hover */
nav a {
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover {
  transform: scale(1.1);
  color: #facc15; /* highlight color */
}

/* Admin sidebar links hover */
aside a {
  display: block;
  transition: transform 0.2s ease, background 0.2s ease, color 0.2s ease;
}

aside a:hover {
  transform: scale(1.05);
  background: #34495e; /* subtle background highlight */
  color: #f39c12;      /* golden hover color */
}
